<?xml version="1.0"?>
<config>
    <modules>
        <JanPapenbrock_Statsd>
            <version>0.4.1</version>
        </JanPapenbrock_Statsd>
    </modules>
    <global>
        <helpers>
            <statsd>
                <class>JanPapenbrock_Statsd_Helper</class>
            </statsd>
        </helpers>
        <models>
            <statsd>
                <class>JanPapenbrock_Statsd_Model</class>
            </statsd>
        </models>
        <events>
            <model_save_after>
                <observers>
                    <statsd>
                        <class>statsd/observer_model_save</class>
                        <type>singleton</type>
                        <method>after</method>
                    </statsd>
                </observers>
            </model_save_after>
            <model_save_before>
                <observers>
                    <statsd>
                        <class>statsd/observer_model_save</class>
                        <type>singleton</type>
                        <method>before</method>
                    </statsd>
                </observers>
            </model_save_before>
            <model_delete_before>
                <observers>
                    <statsd>
                        <class>statsd/observer_model_delete</class>
                        <type>singleton</type>
                        <method>before</method>
                    </statsd>
                </observers>
            </model_delete_before>
            <model_delete_after>
                <observers>
                    <statsd>
                        <class>statsd/observer_model_delete</class>
                        <type>singleton</type>
                        <method>after</method>
                    </statsd>
                </observers>
            </model_delete_after>
            <model_load_before>
                <observers>
                    <statsd>
                        <class>statsd/observer_model_load</class>
                        <type>singleton</type>
                        <method>before</method>
                    </statsd>
                </observers>
            </model_load_before>
            <model_load_after>
                <observers>
                    <statsd>
                        <class>statsd/observer_model_load</class>
                        <type>singleton</type>
                        <method>after</method>
                    </statsd>
                </observers>
            </model_load_after>

            <controller_action_predispatch>
                <observers>
                    <statsd>
                        <class>statsd/observer_controller_action_dispatch</class>
                        <type>singleton</type>
                        <method>predispatch</method>
                    </statsd>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <statsd>
                        <class>statsd/observer_controller_action_dispatch</class>
                        <type>singleton</type>
                        <method>postdispatch</method>
                    </statsd>
                </observers>
            </controller_action_postdispatch>

            <customer_register_success>
                <observers>
                    <statsd>
                        <class>statsd/observer_customer</class>
                        <type>singleton</type>
                        <method>registerSuccess</method>
                    </statsd>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <statsd>
                        <class>statsd/observer_customer</class>
                        <type>singleton</type>
                        <method>login</method>
                    </statsd>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <statsd>
                        <class>statsd/observer_customer</class>
                        <type>singleton</type>
                        <method>logout</method>
                    </statsd>
                </observers>
            </customer_logout>
            <customer_customer_authenticated>
                <observers>
                    <statsd>
                        <class>statsd/observer_customer</class>
                        <type>singleton</type>
                        <method>customerAuthenticated</method>
                    </statsd>
                </observers>
            </customer_customer_authenticated>
        </events>
    </global>
</config>
